-
  const rooms = [
    {
      "id": 0,
      "schema": "/images/studio-44.png",
      "title": "Студия №44",
      "option": "без отделки",
      "area": "28",
      "floor": "12/14",
      "price": "1 900 000 руб.",
      "status": "забронировано",
      "offer": "",
      "slogan": "",
      "favorite": ""
    }];

main
  div.card
    div.card__row
      div.card__offer= rooms[0].offer
      div.card__slogan= rooms[0].slogan
      div.card__favorite= rooms[0].favorite
    div.card__row
      img(src=rooms[0].schema, alt=rooms[0].title)
    div.card__row
      h2.card__title= rooms[0].title
    div.card__row.card__row_options
      div.card__option= rooms[0].option
      div.card__area= rooms[0].area
        | м
        sup
          | 2
        |  площадь
      div.card__floor= rooms[0].floor
        |  этаж
    div.card__row
      div.card__price= rooms[0].price
    div.card__row.card__row_status
      p.card__status= rooms[0].status