each flat in flats
  div.card.rooms__card(data-rooms= flat.rooms, data-price= flat.price)
    div.card__row
      span.card__offer= flat.offer
      span.card__slogan= flat.slogan
      a.card__favorite
        div.card__icon= flat.favorite
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 51 48">
            <path fill="none" stroke="#000" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
          </svg>
    div.card__row
      div.img-wrapper
        img.card__img.lazy(data-src=flat.schema, alt=flat.title)
    div.card__row
      h2.card__title= flat.title
    div.card__row
      p.card__option= flat.option
      p.card__area= flat.area
        |  м
        sup
          | 2
        span.card__area_small  площадь
      p.card__floor= flat.floor
        span.card__floor_small  этаж
    div.card__row
      div.card__price
        each char in flat.price
          span.price-char= char
        |  руб.
    div.card__row.card__row_status
      if flat.status == 'забронировано'
        p.card__status.card__status_booked= flat.status
      else if flat.status == 'продано'
        p.card__status.card__status_sales= flat.status
      else if flat.status == 'свободно'
        p.card__status.card__status_free= flat.status
